<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      
      <a class="navbar-brand" href="#">
          <span class="material-icons"> grain </span>Creative Design</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleNavbar()" data-target="#navbarCollapse" aria-controls="navbarCollapse" 
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse "  id="navbarCollapse" [ngClass]="{'show' : navbarOpen  }">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item ">
            <a class="nav-link" routerLink="home" (click)="toggleNavbar()">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about" (click)="toggleNavbar()">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="samplefun" (click)="toggleNavbar()">Sample</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="simpleform" (click)="toggleNavbar()">Simple Form</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="tdf" (click)="toggleNavbar()">TDF Form</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="dataapi" (click)="toggleNavbar()">Api Data Call</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="data-table" (click)="toggleNavbar()"> Covid 19</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" routerLink="contact" (click)="toggleNavbar()">Contact us</a>
          </li>


        </ul>


        <form class="form-inline mt-2 mt-md-0">
        </form>


      </div>
    </nav>
  </header>


