
<div class="container-fluid">
    <p></p>
    
    <h3 style="color:cadetblue; font-weight: bold;"> About Us </h3>
    <p></p>
  <strong>  Designing Media is a book and a DVD as well as this website. </strong>
  <p>
 You can browse by chapter as well as by interview. When you choose an interview, a small version of the segment from the DVD plays. You can also download pdfs of the chapters for free, as well as QuickTime videos of each interview from the DVD, sized to fit a standard presentation format (1024 pixels wide).
Book The book features interviews with thirty-seven significant figures in both traditional and new forms of mass communication; interviewees range from the publisher of the New York Times to the founder of Twitter.
DVD A DVD accompanying the book includes excerpts from all of the interviews, and the material can be browsed and downloaded from this site.
</p>

<p>
    You can browse by chapter as well as by interview. When you choose an interview, a small version of the segment from the DVD plays. You can also download pdfs of the chapters for free, as well as QuickTime videos of each interview from the DVD, sized to fit a standard presentation format (1024 pixels wide).
   Book The book features interviews with thirty-seven significant figures in both traditional and new forms of mass communication; interviewees range from the publisher of the New York Times to the founder of Twitter.
   DVD A DVD accompanying the book includes excerpts from all of the interviews, and the material can be browsed and downloaded from this site.
   </p>

   <p>
    You can browse by chapter as well as by interview. When you choose an interview, a small version of the segment from the DVD plays. You can also download pdfs of the chapters for free, as well as QuickTime videos of each interview from the DVD, sized to fit a standard presentation format (1024 pixels wide).
   Book The book features interviews with thirty-seven significant figures in both traditional and new forms of mass communication; interviewees range from the publisher of the New York Times to the founder of Twitter.
   DVD A DVD accompanying the book includes excerpts from all of the interviews, and the material can be browsed and downloaded from this site.
   </p>

<p>

   <strong>  Designing Media is a book and a DVD as well as this website. </strong>
  <p>
 You can browse by chapter as well as by interview. When you choose an interview, a small version of the segment from the DVD plays. You can also download pdfs of the chapters for free, as well as QuickTime videos of each interview from the DVD, sized to fit a standard presentation format (1024 pixels wide).
Book </p>

<p>
    You can browse by chapter as well as by interview. When you choose an interview, a small version of the segment from the DVD plays. You can also download pdfs of the chapters for free, as well as QuickTime videos of each interview from the DVD, sized to fit a standard presentation format (1024 pixels wide).
   Book The book features interviews with thirty-seven significant figures in both traditional and new forms of mass communication; interviewees range from the publisher of the New York Times to the founder of Twitter.
   DVD A DVD accompanying the book includes excerpts from all of the interviews, and the material can be browsed and downloaded from this site.
   </p>


    <p></p>
    
        </div>